.main__container {
   display: flex;
   width: 60%;
   margin: auto;
   flex-direction: row;
   justify-content: space-between;
   color: #D9E4EC;
   font-size: 2rem;
   padding: 6rem 0rem 10rem 0rem;
   /* border: 1px solid red; */
}

.main_div {
   display: flex;
   flex-direction: column;
   /* margin: auto; */
   align-self: center;
   text-align: left;
}

.main_right_div {
   display: flex;
   flex-direction: column;
   /* margin: auto; */
   align-self: start;
   border-radius: 4rem;
   background-color: #4b6d7f2b;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(15px);
   padding: 2rem 2rem 2rem 2rem;
}