.text_ish {
   font-family: "Averta-Black", sans-serif !important;
   font-style: normal;
   color: #21846C;
   text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #fff, -1.5px 1.5px 0 #000;
}

.text_thumber {
   font-family: "Averta-ExtraBold", sans-serif !important;
   font-style: normal;
   color: #ffffff;
   text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000;

}