/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap'); */

@import "./assets/fonts/Averta/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Kalam', cursive; */
  font-family: 'Averta-Regular', sans-serif;
}

.main_container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #FFF6DC;
  background: linear-gradient(0deg, #FFF6DC 0%, #ffffff 100%);
}